.mine_box {
    background-color: rgb(248, 248, 248);
    .mineMain_title {
        // background-color: rgb(255, 255, 255);
        h2 {
            margin: 0;
            padding: 1rem 1rem 0 1rem;
            font-weight: bold;
            // font-size: 1.3rem;
            text-align: center;
        }
        .content_setting {
            &:after {
                content: '';
                background-image: url('../assets/images/setting.png');
                position: absolute;
                z-index: 100;
                right: 1rem;
                background-size: 1.5rem 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        .content_complaint {
            &:after {
                content: '';
                background-image: url('../assets/images/complaint.png');
                position: absolute;
                z-index: 100;
                left: 1rem;
                top: 1.2rem;
                background-size: 1.5rem 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        .content_luckDraw {
            &:after {
                content: '';
                background-image: url('../assets/images/luckDraw.png');
                position: absolute;
                z-index: 100;
                right: 3.5rem;
                background-size: 1.4rem 1.4rem;
                width: 1.4rem;
                height: 1.4rem;
            }
        }
    }
    .personal_information {
        background-color: white;
        margin: .8rem .5rem;
        border-radius: .5rem;
        display: flex;
        box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
        .content {
            float: left;
            width: 70%;
            height: 100%;
            .sno_phon {
                margin-bottom: 1rem;
                .title {
                    font-weight: bold;
                }
                span+span {
                    margin-left: 1rem;
                }
            }
            .tip {
                color: rgb(177, 177, 177);
            }
        }
        .avatar {
            float: right;
            width: 30%;
            height: 100%;
            // background-color: sandybrown;
            img {
                margin: 1rem 0 .5rem 0;
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            h3 {
                text-align: center;
                width: 70%;
                margin-bottom: .5rem;
            }
        }
    }
    .personal_paynecessity {
        background-color: white;
        margin: .8rem .5rem;
        border-radius: .5rem;
        box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
        padding: 2rem;
        p {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        span+span {
            margin-left: 3rem;
            display: inline-block;
            width: 60%;
        }
        .title {
            font-weight: bold;
            display: inline-block;
            width: 20%;
        }
        .content {
        }
    }
    .personal_paypsw_perpsw {
        background-color: white;
        margin: .8rem .5rem;
        border-radius: .5rem;
        box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
        padding: 2rem;
        .change_psw {
            &:after {
                content: '';
                background-image: url('../assets/images/right.png');
                position: absolute;
                z-index: 100;
                right: 1rem;
                background-size: 1rem 1rem;
                width: 1rem;
                height: 1rem;
            }
            span+span {
                margin-left: 3rem;
            }
            .title {
                font-weight: bold;
                display: inline-block;
                width: 20%;
            }
        }
    }
    .personal_luckDraw {
        background-color: white;
        margin: .8rem .5rem;
        border-radius: .5rem;
        box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
        padding: 1rem;
        .p1 {
            display: flex;
            margin-bottom: .5rem;
            padding: 0 4rem;
            justify-content: space-between;
            img {
                width: 2rem;
                height: 2rem;
            }
        }
        .p2 {
            display: flex;
            padding: 0 3rem;
            justify-content: space-between;
        }
        .luckDraw_font {
            color: #999999;
        }
    }
    .login_out {
        margin: 1rem .5rem;
        .login_out_button{
            width: 100%;
            border-radius: 4PX;
            background: #ff0000;
            color: #fff;
            font-size: 1.1rem;
            line-height: 42PX;
            outline: none;
            border: none;
        }
    }
}
    
.complaint_publish {
    &:after {
        content: '';
        background-image: url('../assets/images/publish_complaint.png');
        position: absolute;
        z-index: 100;
        right: 1rem;
        top: 1.4rem;
        background-size: 1.5rem 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}
.release_box {
    top: 20vh;
    left: 10vw;
    height: 23rem;
}
.form_box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
    span {
        line-height: 4vh;
    }
}
.details-title {
    font-weight: bold;
}
.dialog_submit {
    width: 80%;
    margin: 1rem auto;
    display: grid;
    .am-button-primary {
        background-color: rgb(103, 194, 58);
    }
    .ant-btn-primary {
        background-color: rgb(103, 194, 58);
    }
}
.hall-item {
    background-color: #ffffff;
    display: flex;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
    .hall-img {
        display: flex;
        // align-items: center;
        img {
            width: 4rem;
            margin: 1rem;
            height: 4rem;
        }
    }
    .hall-details {
        margin: 1rem 0rem;
        font-size: 1rem;
        width: 100%;
        position: relative;
        p {
            margin-top: 1rem;
            margin-bottom: 0rem;
            &:first-child {
                margin-top: 0rem;
            }
        }
        .mt2 {
            margin-top: 2rem;
        }
        .details-shop {
            display: inline-block;
            padding: .5rem;
            background-color: #efefef;
        }
        .username {
            font-weight: bold;
        }
        .details-btn {
            position: absolute;
            right: 1rem;
            width: 4rem;
        }
    }
}

