.orderMain-title {
    // background-color: rgb(255, 255, 255);
    h2 {
        margin: 0;
        padding: 1rem 1rem 0 1rem;
        font-weight: bold;
        // font-size: 22px;
        text-align: center;
    }
}
.orderMain-content {
    height: auto;
    overflow: auto;
    background-color: rgb(248, 248, 248);
    h1 {
        text-align: left;
        margin: 0 1rem;
        padding-top: 1rem;
        font-weight: 500;
    }
    .orderMain-content-card {
        background-color: #ffffff;
        display: flex;
        margin: 1rem .5rem 0 .5rem;
        border-radius: .6rem;
        box-shadow: 0px 0px 1px 0 rgba(0,0,0,0.1);
        .avatar {
            width: 20%;
            height: 100%;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: .5rem;
            img {
                border: 1px solid #efefef;
                border-radius: .5rem;
                margin: .5rem;
            }
        }
        .details {
            float: right;
            width: 80%;
            height: 100%;
            // background-color: seagreen;
            .state-name {
                height: 40%;
                border-bottom: 1px solid #efefef;
                margin: 0 .5rem;
                .name {
                    float: left;
                    font-weight: 600;
                    font-size: 16px;
                }
                .state {
                    float: right;
                    margin-right: .5rem;
                }
                .time {
                    text-align: left;
                    margin-top: 1rem;
                    color: #a5a5a5;
                }
            }
            .name-price {
                height: 60%;
                margin: 0 .5rem;
                .name {
                    display: inline-block;
                    width: 70%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .price {
                    float: right;
                    font-weight: 600;
                    margin-right: .5rem;
                }
                .again_button {
                    text-align: right;
                    padding-bottom: .5rem;
                }
            }
        }
    }
}

.noMore,.loadMore{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 3rem;
    color: #555;
    font-size: 1rem;
}