.am-search {
    margin: 1rem 0;
    background-color: transparent !important;
    padding: 0 1rem !important;
}
.am-search-cancel-show {
    color: white !important;
}
.am-search-synthetic-ph-icon {
    height: 18px !important;
}
.am-search-input {
    border-radius: 2rem !important;
}